<h1>Add a new user</h1>

<form class="add-form" method="POST" action="/users">
    <label>
        First name *
        <input type="text" name="firstname" required>
    </label>
    

    <label>
        Last name *
        <input type="text" name="lastname" required>
    </label>
    

    <label>
        E-mail *
        <input type="email" name="email" required>
    </label>
    

    <label>
        Password *
        <input type="password" name="password" required>
    </label>
    

    <input type="submit" value="Submit">
    
</form>